body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Times New Roman', arial;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Navbar here */
.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.header-logo img {
    width: 120px;
    height: 120px;
    margin-right: auto;
}

.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}

.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 12px;
    font-family: 'Times New Roman', arial;
}

/* Hero here */
.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

.hero-info {
    flex-basis: 450px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.hero-info p {
    font-family: 'Times New Roman', arial;
    opacity: 0.7;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Times New Roman', arial;
}

.hero button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Times New Roman', arial;
    text-decoration: none;
    font-weight: bold;
}

.hero-image img {
    width: 500px;
    height: 290px;
}

/* Content here */
.content {
    align-items: center;
}

.content-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-info img {
    width: 230px;
    height: 250px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

/* Quotation here */
.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Times New Roman', arial;
}

.quote b {
    padding-bottom: 40px;
    padding-right: 10px;
    font-family: 'Times New Roman', arial;
    text-align: right;
}

/* Sign Up Part */
.sign-up {
    background-color: #3882F6 ;
    margin: 70px 230px;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.sign-item {
    flex: 1;
}

.signs-text {
    text-align: left;
}

.signs-text p {
    color: #fff;
    opacity: 0.8;
    margin: 5px 10px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Times New Roman', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.signs-button button {
    color: #fff;
    font-family: 'Times New Roman', arial;
    border-color: #fff;
    border-radius: 6px;
    background-color: #3882F6;
    padding: 5px 30px;
    font-size: 15px;
}

/* Footer */
.footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Times New Roman', arial;
}